$base-blue-color: #2185d0;

.ui.header.title {
    margin-top: 0;
}
.gateway-title-wrapper {
    display: flex;
    justify-content: space-between;

    .gateway-title {
        display: flex;
        min-width: 6rem;
        align-items: center;
        margin-bottom: 32px;
        img {
            padding-right: 0.5rem;
            height: 45px;
        }
    }
    div.dropdown-api {
        margin-right: 0px;
    }
}

.vpn-details-container {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    height: 120px;

    .vpn-details {
        display: flex;
        flex-direction: column;

        &:nth-child(2) {
            font-weight: bold;
            margin-left: 25px;
        }
    }
}

.ui.secondary.menu.submenu {
    z-index: 1;
    .item {
        border-bottom-color: #cdcdcd;
        &.active {
            color: black !important;
        }

        &:last-child {
            border-radius: 0;
        }
    }
}

.menu-container {
    display: flex;
    justify-content: space-between;
    position: relative;

    span {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #cdcdcd;
        z-index: 0;
    }
}
.sub-menu-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.ui.form div.hostname-field {
    width: 100%;
    display: flex;
    align-items: flex-end;

    p {
        margin-bottom: 22px;
        margin-left: 6px;
    }
    div.field div.ui.input {
        width: 300px;
    }
}
.ui.button > .info-icon {
    margin: 0px 0px 2px 0px!important;
    position: relative;
  
    &:before {
        position: absolute;
        bottom: -2px;
    }
  }
  .disabled-btn {
    cursor: default;
    opacity: .45!important;
    background-image: none!important;
    box-shadow: none!important;
    padding-top: 12px!important;
  }