.accordion {
    width: 100%;
    margin: 10px 0;
}
.accordion section {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.title-config {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    color: #2185d0;

    span {
        height: 100%;
        padding: 10px 15px;
        display: flex;
        align-items: center;
    }
    &:hover {
        cursor: pointer;
    }
}
.description-config {
    border: 1px solid #2185d0;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    li {
        margin: 10px 0;
    }
}

pre {
    // font-size: 10px;
    border: solid 1px #c8cfee;
    border-radius: 4px;

    code {
        // font-size: 10px;
    }
}
