.customized-hr {
  border: solid 1px #D3D3D3;
  height: 1px;
  width: 100%;
  margin-top: 30px;
}

.small-input {
	height: 32px;
}

.empty-table {
  text-align: center;
  color: grey;
  font-weight: 600;
  margin-top: 46px;
  margin-bottom: 46px;
}

.status-label {
	width: 100px;
	text-align: center;
	border-radius: 17px;
	margin-right: 10px;
	padding: 5px;
}

.green-text {
	color: #00a711;
	background-color: #eaf8ea;
}

.gray-text {
	color: #1d1d1d;
	background-color: #ECECEC;
}

.popup-dots {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #EDEDED;
  border-radius: 2px;
  color: #6A6A6A;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
